.ScardC {
  overflow: hidden;
  border-radius: 12px;
  background-color: #ffffff;
  color: #64748b; /* slate-500 */
  box-shadow: 0 4px 8px rgba(200, 200, 200, 0.5);
  max-width: 100%;
  font-family: Arial, sans-serif;
}

/* Image */
.ScardC-image2 img {
width:100px;
 height: 100px;
   justify-content: center; /* center vertically (if height exists) */
  align-items: center;   /* center horizontally */
    border-radius: 3px;

}

/* Body */
.ScardC-body {
          display: flex;

}



.ScardC-header {
  margin-bottom: 12px;
}

.ScardC-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #334155; /* slate-700 */
}

.ScardC-price {
  color: #94a3b8; /* slate-400 */
  margin-top: 4px;
}

.ScardC-description {
  font-size: 0.9rem;
  line-height: 1.4;
}

/* Button */
.ScardC-action {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  padding-top: 0;
}

.ScardC-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #361F1A; /* emerald-500 */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ScardC-btn:hover {
  background-color: #964261; /* emerald-600 */
}

.ScardC-btn:focus {
  background-color: #964261; /* emerald-700 */
  outline: none;
}

.ScardC-btn:disabled {
  background-color: #a7f3d0; /* lighter emerald */
  border: 1px solid #a7f3d0;
  cursor: not-allowed;
  box-shadow: none;
}

.body-left{

        padding-left:20px ;
        
}

.body-right{

        padding-left: 60px;
        padding-right: 60px;
        justify-content: center;

}

